html {
    height: 100%;
    width: 100%;
  } 

#menuTitle {
    text-align: center;
}
#menuBox{
    font-family: 'Courier New', Courier, monospace;
    float: left;
    width: 20%;
    border: 2px solid black;
    border-radius: 8px;
    padding: 5px;
    margin: 20px;
  }

#fToCTable, #cToFTable, #KtoPtable, #PtoKTable, #indexTable{
    margin: 15px;
    width: 57%;
    border: 2px solid black;
    padding: 30px;
    display: inline-block;
}
